APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

YAHOO_URL=https://shopping.yahooapis.jp
YAHOO_APP_ID=

SEVEN_ELEVEN_URL=https://7af-api.omni7.jp
SEVEN_ELEVEN_APP_ID=
SEVEN_ELEVEN_SECRET=

RAKUTEN_URL=https://app.rakuten.co.jp
RAKUTEN_APP_ID=
RAKUTEN_AFFILIATE_ID=
